### https://raw.github.com/github/gitignore/master/ruby.gitignore

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/


### https://raw.github.com/github/gitignore/master/rails.gitignore

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/config/database.yml
/config/secrets.yml

# TODO: webpackのbuild成果物の出力先を調整する
app/assets/javascripts/*
!app/assets/javascripts/admin/
!app/assets/javascripts/application.js

### https://raw.github.com/github/gitignore/master/node.gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# RubyMineの設定ファイルをignore
/.idea/

# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
stdout

/repos/*
!/repos/.gitkeep
